.products {
    color: $secondary-text-color;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../images/tablet/bgr/bgr-1.png');
}

.products__pre-title {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22/18);
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
    text-align: center;
}

.products__title {
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 148px;
}

.products__list-holder {
    display: flex;
    flex-wrap: wrap;
    row-gap: 164px;
    justify-content: center;
}

.products__list {
    width: 280px;
    min-height: 420px;
    border-radius: 35px;
    padding: 123px 40px 20px 40px;
    position: relative;
    

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 224px;
        min-height: 428px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
        min-height: 535px;
    }
}

.products__list:nth-child(3n + 1) {
    background-color: $lite-green;
}

.products__list:nth-child(3n + 2) {
    background-color: $lite-yellow;
}

.products__list:nth-child(3n + 3) {
    background-color: $lite-orange;
}

.products__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.products--ice-cream::before {
    content: '';
    background-image: url(".././images/mobile/ice.png");
    display: inline-block;
    width: 201px;
    height: 211px;
    position: absolute;
    // top: -105px;
    // left: 45px;
    top: -105px;
    left: 45px;
}

.products--ice-coffee::before {
    content: '';
    background-image: url(".././images/mobile/coffe.png");
    display: inline-block;
    width: 201px;
    height: 211px;
    position: absolute;
    top: -105px;
    left: 45px;
}

.products--milkshakes::before {
    content: '';
    background-image: url(".././images/mobile/coc.png");
    display: inline-block;
    width: 201px;
    height: 211px;
    position: absolute;
    top: -105px;
    left: 45px;
}

.products__descr {
    font-size: 14px;
    line-height: calc(25/14);
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 90px;
}

.products__button-descr {
    background-color: transparent;
    border: none;
    display: block;
    width: 130px;
    height: 43px;
    margin: auto;
}